extends layout.pug

block content
  div(id="map")
 
  div(id="stats-block")
    include ./includes/summary.pug
    include ./includes/country-list.pug

  div(id="loading")
    div(class="lds-dual-ring")