doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="wrapper")
      block content


    script(src="/javascripts/leaflet.js")
    script(src="/javascripts/index.js")
    
