doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' type='image/png' href='/favicon.png')
  body
    div(id="wrapper")
      block content

    script(src="https://polyfill.io/v3/polyfill.min.js?features=default%2Cfetch%2CPromise%2CPromise.prototype.finally%2CNodeList.prototype.forEach")
    script(src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2")
    script(src="/javascripts/leaflet.js")
    script(src="/javascripts/index-bundle.js")
    
