:root {
  --background-color: #000;
  --circle-color: #d21a1a;
  --loading-size: 48px;
  --loading-thickness: 6px;
  --tooltip-bg-color: rgba(0, 0, 0, 0.8);
  --confirmed-color: rgba(255, 65, 108, 0.6);
  --active-color: rgba(40, 110, 255, 0.6);
  --deaths-color: rgba(134, 67, 230, 0.6);
  --recovered-color: rgba(97, 206, 129, 0.6);
  --tooltip-bullet-size: 6px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font: 14px 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI',
    -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
  color: #fff;
}

/* Loading */

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  z-index: 10000;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: var(--loading-size);
  height: var(--loading-size);
  margin: 8px;
  border-radius: 50%;
  border: var(--loading-thickness) solid var(--circle-color);
  border-color: var(--circle-color) transparent var(--circle-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* General */
#wrapper {
  position: relative;
}

#wrapper,
#map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.custom-tooltip {
  background-color: var(--tooltip-bg-color);
  border: none;
  color: #fff;
  border-radius: 5px;
}

.custom-tooltip:before {
  display: none;
}

.case-tooltip {
  min-width: 220px;
}

.case-tooltip-flag {
  position: relative;
  width: 100%;
  min-height: 120px;
  padding: 0;
  margin: 0;
}

.case-tooltip-flag:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--background-color);
  opacity: 0.6;
}

.case-tooltip-flag img {
  display: block;
  width: 100%;
  height: auto;
}

.case-tooltip-inner {
  padding: 15px;
}

.case-tooltip h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.case-tooltip-flag .title {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}

.case-tooltip-flag .today {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 1;
  padding: 3px 12px;
  font-size: 14px;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.case-tooltip-flag .today.confirmed {
  background-color: var(--confirmed-color);
}

.case-tooltip-flag .today.active {
  background-color: var(--active-color);
}

.case-tooltip-flag .today.deaths {
  background-color: var(--deaths-color);
}

.case-tooltip-flag .today.recovered {
  background-color: var(--recovered-color);
}

.case-tooltip .date {
  margin-top: 0;
  color: #ccc;
}

.case-tooltip .numbers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.case-tooltip .numbers li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
}

.case-tooltip .numbers li:last-child {
  margin-bottom: 0;
}

.case-tooltip .numbers .label {
  display: flex;
  align-items: center;
}

.case-tooltip .numbers .label:before {
  display: inline-block;
  content: '';
  width: var(--tooltip-bullet-size);
  height: var(--tooltip-bullet-size);
  margin-right: 6px;
  border-radius: 100%;
}

.case-tooltip .confirmed .label:before {
  background-color: var(--confirmed-color);
}

.case-tooltip .active .label:before {
  background-color: var(--active-color);
}

.case-tooltip .deaths .label:before {
  background-color: var(--deaths-color);
}

.case-tooltip .recovered .label:before {
  background-color: var(--recovered-color);
}

#error {
  padding: 20px;
}

/* right-column */

.stats-button {
  padding: 14px;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 3px solid var(--confirmed-color);
  border-radius: 30px;
}

.stats-button:focus {
  outline: none;
}

.stats-button:not([disabled]) {
  cursor: pointer;
}

.stats-button[data-stats-type='active'] {
  border-color: var(--active-color);
}

.stats-button[data-stats-type='deaths'] {
  border-color: var(--deaths-color);
}

.stats-button[data-stats-type='recovered'] {
  border-color: var(--recovered-color);
}

.stats-button.active {
  background-color: var(--confirmed-color);
}

.stats-button[data-stats-type='active'].active {
  background-color: var(--active-color);
}

.stats-button[data-stats-type='deaths'].active {
  background-color: var(--deaths-color);
}

.stats-button[data-stats-type='recovered'].active {
  background-color: var(--recovered-color);
}

.stats-button > * {
  pointer-events: none;
}

#right-column {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  background-color: var(--tooltip-bg-color);
  padding: 20px;
}

.summary {
  text-align: center;
}

.summary header {
  margin-bottom: 40px;
}

.summary h1 {
  margin-top: 0;
  font-size: 28px;
}

.summary .updated-time {
  margin-top: 0;
  margin-bottom: 20px;
}

.summary .buttons {
  display: flex;
  flex-wrap: wrap;
}

.summary .stats-button {
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.stats-button h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

/* country list */

.country-list {
  margin-top: 20px;
}

.country-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.country-list ul li {
  margin-bottom: 10px;
}

.country-list ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border: 1px solid var(--confirmed-color);
  background-color: var(--confirmed-color);
  border-radius: 5px;
}

.country-list .stat {
  display: none;
}

.country-list .stat.show {
  display: block;
}

.country-list[data-selected-stats-type='active'] a {
  border-color: var(--active-color);
  background-color: var(--active-color);
}

.country-list[data-selected-stats-type='deaths'] a {
  border-color: var(--deaths-color);
  background-color: var(--deaths-color);
}

.country-list[data-selected-stats-type='recovered'] a {
  border-color: var(--recovered-color);
  background-color: var(--recovered-color);
}
